.about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
}


.about__img {
    width: 300px;
    height: 300px; /* Set a height to ensure the element has size */
    border-radius: 15rem;
    justify-self: center;
    position: relative; /* Ensure positioning context for the pseudo-elements */
    overflow: hidden; /* Prevents the pseudo-elements from spilling out */
    background-color: #f0f0f0; /* Optional: background color for visibility */
}

.about__img::before,
.about__img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 15rem;
    box-sizing: border-box;
    z-index: 1;
}

.about__img::before {
    border: 15px solid rgb(85, 86, 85, 0.5); /* Outer border */
    animation: borderPulse 3s infinite;
}

.about__img::after {
    border: 15px solid rgb(85, 86, 85, 0.5); /* Inner border */
    top: 5px; /* Offset from the outer border */
    left: 5px;
    right: 5px;
    bottom: 5px;
    animation: borderPulse 2s infinite reverse; /* Reverse animation for variation */
}

@keyframes borderPulse {
    0% {
        border-color: rgb(85, 86, 85, 0.5);
        transform: scale(1);
    }
    50% {
        border-color: rgb(85, 86, 85, 0.5);
        transform: scale(1.1);
    }
    100% {
        border-color: rgb(85, 86, 85, 0.5);
        transform: scale(1);
    }
}

.about__info {
    grid-template-columns: repeat(3, 140px);
    gap: 0.5rem;
    margin-bottom: var(--mb-2);
}

.about__box {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}

.about__icon {
    font-size: 1.5rem;
    columns: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

.about__title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.about__subtitle {
    font-size: var(--tiny-font-size);
}

.about__description {
    padding: 0 4rem 0 0;
    margin-bottom: var(--mb-2-5);
}

@media screen and (max-width: 992px){
   .about__container {
        grid-template-columns: 2fr;
        row-gap: 2.5 rem;
   }

   .about__img {
    width: 280px;
    border-radius: 15rem;
   }

   .about__box {
    padding: 0.75rem 0.5rem;
   }

   .about__data {
    text-align: center;
   }

   .about__info {
    justify-content: center;
   }

   .about__description {
    padding: 0 5rem;
    margin-bottom: 2rem;
   }
  }

@media screen and (max-width: 576px){

    .about__info {
        grid-template-columns: repeat(2, 1fr);
    }

    .about__description {
        padding: 0;
    }
  }
@media screen and (max-width: 350px){
    .about__info {
        grid-template-columns: repeat(2, 1fr);
    }
  }